name: Sync Wiki

####################################################################
# Start the job when the wiki folder is updated in the main branch #
####################################################################
on:
  push:
    branches:
      - main
    paths:
      - "docs/wiki/**"

env:
  temp_dir_wiki_clone: "wiki-docs-cloned"
  temp_dir_wiki_to_sync: "wiki-docs-to-sync"
  wiki_source_dir: "docs/wiki/"
  wiki_target_repo: "jtracey93/wiki-test-2"
  github_user_name: "github-actions"
  github_email: "action@github.com"
  github_commit_message: "GitHub Action syncing wiki from docs/wiki/"
  

jobs:
  sync-wiki-to-main:
    name: Sync Wiki
    runs-on: ubuntu-latest
    steps:

      - name: Create temp directories
        run: |
          mkdir $temp_dir_wiki_to_sync
          mkdir $temp_dir_wiki_clone
        working-directory: ./temp

      - name: Local repository checkout
        uses: actions/checkout@v2
        with:
          path: "./temp/$temp_dir_wiki_clone"
          

      - name: Configure git and pull existing wiki
        run: |
          pwd
          git init
          git config --global user.name $github_user_name
          git config --global user.email $github_email
          git pull https://$GITHUB_TOKEN@github.com/$wiki_target_repo.wiki.git
        working-directory: "./temp/$temp_dir_wiki_to_sync"
          
      - name: Copy & overwrite wiki docs to temp_dir_wiki_to_sync
        run: |
          pwd
          cp -rf . ./temp/$temp_dir_wiki_to_sync
          git add .
          git commit -m "$github_commit_message"
          git push --set-upstream https://$GITHUB_TOKEN@github.com/$wiki_target_repo.wiki.git master
        working-directory: "./temp/$temp_dir_wiki_clone/$wiki_source_dir"

      - name: Create temp directories
        run: |
          pwd
          git add .
          git commit -m "$github_commit_message"
          git push --set-upstream https://$GITHUB_TOKEN@github.com/$wiki_target_repo.wiki.git master
        working-directory: "./temp/$temp_dir_wiki_to_sync"
          
